// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
ion-header
{
  --ion-background-color: #125a05;
}
ion-title
{
  color: #ffffff;
}
ion-content
{

   // --background: url("/assets/Logo/REZESLogo.png") 0 0/100% 100%;
}
ion-menu
{
  --ion-background-color: #125a05;
  color: #ffffff;
}
ion-menu-toggle {
  color: #ffffff;
}
.leftMenuTextColor {
  color: #ffffff;
}

.logoutButton {
  display: block;
  color: #ffffff;
  --ion-background-color: #0ec254;
  background-color: #0ec254;
  --background: #0ec254;
}
.text_white {
  color: #ffffff;
}
