<ion-header xmlns:filter="http://www.w3.org/1999/xhtml">
  <ion-toolbar>
    <ion-title>achievements</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let achi of achiev">
        <img src={{achi.url}} (click)="presentAlert(achi)" style="width: 100px; filter:grayscale(100%)" *ngIf="achi.isActive">
        <img src={{achi.url}} (click)="presentAlert(achi)" style="width: 100px; filter:grayscale(0%)" *ngIf="!achi.isActive">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="4"></ion-col>
      <ion-col [size]="4"></ion-col>
      <ion-col [size]="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
