.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


ion-header
{
  --ion-background-color: #125a05;

}
ion-title{
  color: #ffffff;
}
.icon-class
{
  width: 175px;
  height: 75px;
}
.green{
  --ion-background-color: #125a05;
  color: #ffffff;
}
ion-card{
  justify-content: center;
  text-align: center;
  border: 2px solid #0ec254;
}
ion-item {
  justify-content: center;
  text-align: center;
}
